<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up - JKGN Resume Builder</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="navbar">
      <h1>JKGN Resume Builder</h1>
    </div>
    <div class="container">
      <h2>Sign Up</h2>
      <form id="signup-form" action="/signup" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
        </div>
        <button type="submit">Signup</button>
    </form>
      <p>Already have an account? <a href="/auth/login">Login here</a></p>
    </div>
  </body>
</html>
